@model ApplicantPortal.Models.StudentDTO.StudentSteps
    @{
        ViewBag.Title = "Index";
    }


    <div id="exTab2" class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#1" data-toggle="tab">Step 1</a>
            </li>
            <li>
                <a href="#2" data-toggle="tab">Step 2</a>
            </li>
            <li>
                <a href="#3" data-toggle="tab">Step 3</a>
            </li>
        </ul>
        <div class="tab-content ">
            <div class="tab-pane active" id="1">
                @Html.Partial("_StudentStep1", Model.studentStep1)
                @*<div class="row" style="border:1px solid #e9dfdf;margin:0;box-sizing: border-box;padding:10px">


                        <div class="col-md-12">

                            <h4 style="margin-left:0"><b>1</b> .Name of the Board from which you have passed the Board exam? Please fill the Year Of Exan and Roll Number as in Admit Card /</h4>
                            <h4 style="margin-left:0">आपने किेस शिक्षा बौडँ से दसवी ऊतीँण की है?</h4>
                        </div>
                        <div class="col-md-12" style="border:1px solid #e9dfdf;margin:0;box-sizing: border-box;padding:5px">
                            <div class="row">
                                <div class="col-md-4">
                                    <span>Name of the Examination board <span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-4">
                                    <span>Year of Passing <span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-4">
                                    <span>Exam Type <span class="text-danger">*</span></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <select class="form-control">
                                        <option value="1" selected>1-BSEB,Bihar</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control">
                                        <option value="0" selected>SELECT</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" name="ExamType" value="Annual" />Annual
                                    <input type="radio" name="ExamType" value="Improvement" />Improvement
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-4">
                                    <span>Date of Birth<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-4">
                                    <span>Roll Code<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-4">
                                    <span>Roll Number<span class="text-danger">*</span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input name="DOB" id="DOB" type="date" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <input name="RollCode" id="RollCode" type="text" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <input name="RollNumber" id="RollNumber" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-7" style="margin-top:5px">

                            <div class="row">
                                <div class="col-md-4">
                                    <span><b>2.</b> Applicant's Name<span class="text-danger"></span></span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="ApplicantName" class="form-control" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px">

                                <div class="col-md-4">
                                    <span><b>3</b> Father's Name<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="FatherName" class="form-control" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px">
                                <div class="col-md-4">
                                    <span><b>4.</b> Mother's Name<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="MotherName" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" style="border:1px solid #e9dfdf;box-sizing: border-box;margin-top:5px">
                            <span> Upload your Photo<span class="text-danger"></span></span>

                            <input type="file" name="file" />

                        </div>

                        <hr />
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h4 style="margin-left:0"><b>5.</b> Details of Mark/Grade secured in 10th Board Examination<span class="text-danger">*</span></h4>
                            <h5 style="color:blue">Note:In the below field you need to select Grade Points, if you select CBSE & year as 2010 or later as Year Of Passing</h5>
                        </div>
                        <div class="col-md-12">
                            <ol type="a">
                                <li>
                                    <div class="row" style="border:1px solid #e9dfdf;box-sizing:border-box;margin-top:10px;padding-bottom:10px">



                                        <div class="col-md-6" style="background-color:cadetblue">
                                            <span style="color:white;font-weight:700">Maximum Marks</span>
                                        </div>
                                        <div class="col-md-6" style="background-color:cadetblue">
                                            <span style="color:white;font-weight:700">Total Marks Secured</span>
                                        </div>



                                        <div class="col-md-6" style="margin-top:10px">
                                            <input type="text" name="MaximumMarks" class="form-control" value="" />
                                        </div>
                                        <div class="col-md-6" style="margin-top:10px">
                                            <input type="text" name="ToalSecuredMarks" class="form-control" value="" />
                                        </div>
                                    </div>


                                </li>
                                <li>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-12">
                                            <span>Have you Passed 10th Borad exam Compartmently?</span>
                                            <input type="radio" name="Is10Passed" value="Yes" />Yes
                                            <input type="radio" name="Is10Passed" value="No" />No
                                        </div>
                                    </div>



                                </li>
                            </ol>

                        </div>
                        <hr />
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h4 style="margin-left:0"><b>6.</b> Record Of an Educational institution last attended from which you have passed 10th examination<span class="text-danger">*</span></h4>

                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Name Of School<span class="text-danger">*</span></span>

                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="SchoolName" name="SchoolName" />

                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Address Of School<span class="text-danger">*</span></span>

                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="SchoolAddress" name="SchoolAddress" />

                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-6" style="margin-top:10px">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>District<span class="text-danger">*</span></span>

                                        </div>
                                        <div class="col-md-6">
                                            <select id="District" name="District" class="form-control">
                                                <option value="0">SELECT</option>
                                            </select>

                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-6" style="margin-top:10px">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Year Of Joining<span class="text-danger">*</span></span>

                                        </div>
                                        <div class="col-md-6">
                                            <select id="YOJ" name="YOJ" class="form-control">
                                                <option value="0">YEAR</option>
                                            </select>

                                        </div>
                                    </div>



                                </div>
                                <div class="col-md-6" style="margin-top:10px">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Year Of Leaving From School<span class="text-danger">*</span></span>

                                        </div>
                                        <div class="col-md-6">
                                            <select id="YOJ" name="YOL" class="form-control">
                                                <option value="0">YEAR</option>
                                            </select>

                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>


                    </div>*@

            </div>

            <div class="tab-pane" id="2">
                @Html.Partial("_StudentStep2", Model.studentStep2)
                @*<div class="row" style="border:1px solid #e9dfdf;margin:0;box-sizing: border-box;padding:10px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <span>7. Personal Details</span>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <span>Gender<span class="text-danger">*</span></span>
                            </div>
                            <div class="col-md-4">
                                <span>Mother Tounge<span class="text-danger">*</span></span>
                            </div>
                            <div class="col-md-4">
                                <span>Nationality<span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option value="0">SELECT</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option value="1">HINDI</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option value="1">INDIAN</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span>Religion</span>
                            </div>
                            <div class="col-md-4">
                                <span>Blood Group<span class="text-danger">*</span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option value="0">SELECT</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control">
                                    <option value="1">SELECT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>8. Address for Correspondence</span>
                    </div>
                    <div class="col-md-12" style="border:1px solid #e9dfdf;margin:0;box-sizing: border-box;padding:10px">

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    a.<span>State</span>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control">
                                        <option value="0">SELECT</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    b.<span>District</span>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control">
                                        <option value="0">SELECT</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    c.<span>Block/Municipality</span>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control">
                                        <option value="0">SELECT</option>
                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-7">
                                    <span>d.HouseNo. Street/Village, Post Office. Police Station Name<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-5">
                                    <textarea row="5" cols="20" class="form-control"></textarea>
                                </div>
                            </div>



                        </div>

                        <div class="col-md-4" style="margin-top:10px">
                            <div class="row">
                                <div class="col-md-4">
                                    e.<span>PIN Code<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="PinCode" />
                                </div>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    f.<span>Mobile No<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="MobileNo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    g.<span>Email<span class="text-danger">*</span></span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="Email" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    h.<span>Telephone No.(Optional)</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="STD" id="STD" />
                                            <span>STD Code</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="PhnNo" />
                                            <span>Phone No.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        9.<span>Reservation Details</span>
                    </div>
                    <div class="col-md-12">




                        <div class="col-md-2">
                            <input type="radio" name="Cast" checked />
                            <span>General</span>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="Cast" />
                            <span>Schedule Cast(SC)</span>
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="Cast" />
                            <span>Schedule Tribe(ST)</span>
                        </div>
                        <div class="col-md-2">
                            <input type="radio" name="Cast" />
                            <span>Backward Class(BC)</span>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" name="Cast" />
                            <span>Externally Backward Class(EBC)</span>
                        </div>

                        <div class="clearfix"></div>
                        <hr />


                        <div class="col-md-6">
                            <span>Specially Abled</span>
                            No<input type="radio" name="SpecialyAbled" />
                            Yes<input type="radio" name="SpecialyAbled" />
                        </div>
                        <div class="col-md-6">
                            <span>EWS(EConomically Wealker Section):</span>
                            No<input type="radio" name="EWS" />
                            Yes<input type="radio" name="EWS" />
                        </div>


                    </div>
                </div>
            </div>
        </div>*@
            </div>
            <div class="tab-pane" id="3">
                @Html.Partial("_StudentStep3", Model.studentStep3)
                @*<div class="row" style="border:1px solid #e9dfdf;margin:0;box-sizing: border-box;padding:10px">
            <div class="col-md-12">
                <span>11. Please Fill the Option of the Colleges & Stream In Which you want to get admission.</span>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="background:#abe222;border:0.5px solid #abe222;padding:10px;box-sizing:border-box">Enter Here for 1st Option</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            a.<span> District Name<span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control">
                                <option value="0">SELECT</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="margin-top:10px">
                        <div class="col-md-3">
                            b.<span> College Name<span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-4">
                            <select class="form-control">
                                <option value="0">SELECT</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            c.<span> Stream<span class="text-danger">*</span></span>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option value="0">SELECT</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5>
                            Do you want to fill more Options for applying in the Other Colleges and Subjects?<input type="radio" name="MoreOptions" />Yes
                            <input type="radio" name="MoreOptions" />No
                        </h5>

                    </div>
                </div>
            </div>
        </div>*@

            </div>
        </div>
    </div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript">

            $(document).ready(function () {
                $("#signimg").css("display", "none")
                $("#photoimg").css("display", "none")
                /*disable non active tabs*/
                $('.nav li').not('.active').addClass('disabled');

                $('.nav li').not('.active').find('a').removeAttr("data-toggle");

                //$('button').click(function(){
                //    /*enable next tab*/
                //    $('.nav li.active').next('li').removeClass('disabled');
                //    $('.nav li.active').next('li').find('a').attr("data-toggle","tab")
                //});
            });

            $('#Step1Btn').click(function (event) {
                debugger
                var form = $('#Form1');
                if (form.valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function (response) {
                            if (response) {
                                activaTab('2');
                                $('.nav li.active').next('li').removeClass('disabled');
                                $('.nav li.active').next('li').find('a').attr("data-toggle", "tab")
                            }
                        }
                    });
                }
            })
            $('#Step2PrevBtn').click(function (event) {
                debugger
                activaTab("1");
            })
            $('#Step3PrevBtn').click(function (event) {
                debugger
                activaTab("2");
            })
            $('#Step2NextBtn').click(function (event) {
                
                var form = $('#Form2');
                if (form.valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function (response) {
                            if (response) {
                                activaTab('3');
                                $('.nav li.active').next('li').removeClass('disabled');
                                $('.nav li.active').next('li').find('a').attr("data-toggle", "tab")
                            }
                        }
                    });
                }
            })  
            $('#Step3Btn').click(function (event) {
                var form = $('#Form3');
                if (form.valid() && $('input[name=MoreOptions]:checked').val()==='NO') {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function (response) {
                            if (response) {
                                alert("Successfully Submitted")
                                window.location.reload();
                            }
                        }
                    });
                }
            })
            function previewImage(event, type) {

                var image = document.querySelector("#" + type);

                image.src = URL.createObjectURL(event.target.files[0]);
                $("#" + type).css("display", "block")
            };
            function activaTab(tab) {
                $('.nav-tabs a[href="#' + tab + '"]').tab('show');
            };
        </script>
    }